<%= render 'shared/page_title', title: 'All Recipes' %>


<% @recipes.each do |recipe| %>
  <div class="row">
    <div class='col-md-2'>
      <section class="text-center">
        <%= gravatar_for(recipe.chef, size: 120) %>
      </section>
    </div>
    <div class="col-md-8 card">
      <h4><%= link_to recipe.title, recipe_path(recipe) %></h4>
      <p><%= truncate(recipe.description, legnth: 150) %></p>
      <span class="quiet"><small>Created at: <%= time_ago_in_words(recipe.created_at) %> ago  </small></span>
    </div>
  </div>
<% end %>

