<div class="container mt-5">
<%= render 'shared/page_title', title: 'Search Results' %>

<table class="table table-hover table-striped table-responsive">
  <thead>
    <tr>
      <th>Title</th>
      <th>Description</th>
      <th>Image</th>
    </tr>
  </thead>
  <tbody>
    <% @recipes.each do |recipe| %>
    <tr>

      <td class="align-middle">
        <%= link_to recipe do %>
          <span class="search-recipe-link"><%= recipe.title %></span>
      </td>
      <% end %>
      <td class="align-middle">
        <%= truncate(recipe.description, length: 150) %>
      </td>
      <td>
        <%= image_tag(recipe.image.url,size: '100x100') unless recipe.image.blank? %>

      </td>

    </tr>
    <% end %>
  </tbody>
</table>





</div>
