
<nav class="navbar navbar-expand-lg navbar-custom fixed-top bg-dark-gray">
  <a class="navbar-brand"><%= link_to 'Recettes de Cuisine', root_path, id: 'logo' %></a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <%= link_to 'Recipes', recipes_path, class: 'nav-link' %>
      </li>
      <li class="nav-item">
        <%= link_to 'Create Recipe', new_recipe_path, class: 'nav-link' %>
      </li>
      <li class="nav-item">
        <%= link_to 'Chefs', chefs_path, class: 'nav-link' %>
      </li>
      
      <% if logged_in? %>
      <li class="nav-item">
        <%= link_to 'Chatroom', chat_path, class: 'nav-link' %>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Dropdown
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="#">Action</a>
          <a class="dropdown-item" href="#">Another action</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="#">Something else here</a>
        </div>
      </li>
      
      <% end %>
      
    </ul>
    <form class="form-inline my-2 my-lg-0">
      <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
    </form>
    
    
     <% if logged_in? %>
        <div class="dropdown">
          <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <%= current_chef.chefname.titleize %>'s Profile <%= "Admin" if current_chef.admin? %>
          </button>
          <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
            <li class="dropdown-item-text"><%= link_to 'View Profile', chef_path(current_chef) %></li>
            <li class="dropdown-item-text"><%= link_to 'Edit Profile', edit_chef_path(current_chef) %></li>
            <li class="dropdown-item-text"><%= link_to 'Log out', logout_path, method: :delete, class: 'py-0 d-none d-md-inline-block' %></li>
          </div>
        </div>
      <% else %>
          <%= link_to 'Sign up', signup_path, class: 'py-0 d-none d-md-inline-block' %>
         <%= link_to 'Log in', login_path, class: 'py-0 d-none d-md-inline-block' %>
      <% end %> 
    
   
  </div>
</nav>



     